* {
    box-sizing: border-box;
}

body {
    /* width: 100%; */
    margin: 0;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
    position: absolute;
    background: url(img/171124_H1_006.mp4);
}

.box_top {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgba(10, 9, 9, 0.1);
    display: flex;
}

.box_bottom {
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(10, 9, 9, 0.1);
}

.box_left {
    width: 60px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(10, 9, 9, 0.1);
}

.box_right {
    width: 60px;
    height: 100%;
    position: fixed;
    /* left: 1170px; */
    right: 0;
    top: 0;
    /* bottom: 0; */
    background-color: rgba(10, 9, 9, 0.1);
}

.container_fluid {
    height: 100vh;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
}

.logo {
    margin-top: 30px;
    margin-left: 100px;
    z-index: -1;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    text-align: center;
    position: fixed;
    right: 100px;
    margin-top: 30px;
}

.menu li {
    list-style-type: none;
    margin-right: 20px;
}

.myvid {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.slide {
    width: 100%;
    height: 100vh;
    text-align: center;
}

.big_text {
    position: relative;
    top: 200px;
    font-size: 40px;
    text-align: center;
    left: 300px;
    line-height: 3rem;
    letter-spacing: 1rem;
    color: orangered;
}

.small_text {
    position: relative;
    top: 350px;
    font-weight: 600;
    text-align: center;
    left: 300px;
    color: seagreen
}

.buttons {
    display: flex;
    width: 50%;
    top: 450px;
    left: 480px;
    position: relative;
}

.btn1 {
    margin: 20px;
    background-color: seagreen;
    color: white;
    text-align: center;
    width: 120px;
    height: 50px;
    font-weight: bold;
    border: 1px solid white;
}

.btn2 {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: transparent;
    color: black;
    text-align: center;
    width: 120px;
    height: 50px;
    border: 1px solid seagreen;
    color: orangered;
    font-weight: bold;
}

.cta {
    width: 100%;
    height: 300px;
    position: absolute;
    left: 250px;
    z-index: -1;
    top: 900px;
}

.cta input {
    width: 350px;
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid transparent;
}

#btn {
    width: 350px;
    height: 30px;
    margin-bottom: 10px;
    background-color: seagreen;
    border: 1px solid transparent;
    color: white;
}

.flex {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 1200px;
    left: 280px;
}

.flex1 {
    width: 100%;
    height: 100px;
    margin: 30px;
    text-align: center;
}

.flex1 h1 {
    text-align: center;
    margin-right: 150px;
}

.flex2 {
    width: 120%;
    height: 100px;
    position: relative;
    display: flex;
    right: 100px;
}

.flex2 p {
    height: 100px;
    margin: 10px;
}

.services {
    background-color: transparent;
    height: 500px;
    position: absolute;
    width: 100%;
    top: 1800px;
    left: 250px;
}

.p {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 40px;
}

.grid1,
.grid2,
.grid3,
.grid4 {
    background-color: transparent;
    border: 3px solid orangered;
    width: 100%;
    height: 200px;
    margin: 20px, 10px 20px 10px;
    display: flex;
}

.grid img {
    height: 40px;
    margin: 20px 10px;
}

.questions {
    width: 100%;
    height: 500px;
    position: relative;
    background-color: transparent;
    overflow-y: hidden;
    margin-top: 100px;
    text-align: center;
}

.questions input[type=text] {
    width: 350px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid black;
    margin: 10px;
}

.questions input[type=text]::placeholder {
    color: white;
}

.subject {
    width: 600px;
}

.questions input[name=subject] {
    width: 730px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid black;
    /* margin: 10px; */
}

textarea {
    width: 730px;
    background-color: rgba(255, 255, 255, 0.2);
}

textarea::placeholder {
    color: white;
}

.questions button {
    text-align: center;
    color: white;
    background-color: blue;
    height: 40px;
    width: 150px;
}

.box_right img {
    width: 20px;
}

.icoimg {
    margin-top: 250px;
    margin-left: 20px;
}